<div class="container">
<div class='marginMe'>

		<h1>Advanced Routes</h1>

</div>

<div id='advmaps'></div>
<div id='directionAdv'></div>
<div class='inlineMe'>
	<map-gen class='mapbtns' click='"First Advanced Route"' difficulty='"adv"' map=0 ></map-gen>
	<p>Distance: 19.8 miles</p>
	<p>Est. Time: 124 minutes</p>
</div>
<div class='inlineMe'>
	<map-gen class='mapbtns' click='"Second Advanced Route"' difficulty='"adv"' map=1 ></map-gen>
	<p>Distance: 26.3 miles</p>
	<p>Est. Time: 165 minutes</p>
</div>
<div class='inlineMe'>
	<map-gen class='mapbtns' click='"Third Advanced Route"' difficulty='"adv"' map=2 ></map-gen>
	<p>Distance: 19.2 miles</p>
	<p>Est. Time: 120 minutes</p>
</div>
</div>

