<div id="routes">
	<div class="directive">
		<weather-days></weather-days>
	</div>
	<div id="rentbike">
	<h3>Don't have a bike? No problem! You can Rent one!</h3>
			<button>Find a Bike Hub</button>
	</div>		
	<div id="routediff">		
		<h2>Choose your route difficulty!</h2>
		<button ng-click='changeView("beginner_Routes")'>Easy</button>
		<button ng-click='changeView("intermediate_Routes")'>Intermediate</button>
		<button ng-click='changeView("advanced_Routes")'>Advanced</button>
	</div>

</div>