<div id='gettingStartedDiv'>
	<h1>LET'S GET IT STARTED IN HEEREREREREREEREREREEEEEEEeeeerreeREE FOR YA BABE</h1>

	<div>
		<h3>Don't have a bike? No problem! You can Rent one!</h3>
			<button ng-click='changeView("#/bikeMap")'>Find a Bike Hub</button>
		<h2>Choose your route difficulty!</h2>
		<button ng-click='changeView("#/bikeMap")'>Easy</button>
		<button ng-click='changeView("#/bikeMap")'>Intermediate</button>
		<button ng-click='changeView("#/bikeMap")'>Advanced</button>



		
	</div>
</div>

