<div class='marginMe'>

		<h1>Intermediate Routes</h1>

</div>

<div id='intmaps'></div>
<div id='directionInt'></div>

<div class='inlineMe'>
	<map-gen class='mapbtns' click='"First Intermediate Route"' difficulty='"int"' map=0 ></map-gen>
	<p>Distance: 6.2 miles</p>
	<p>Est. Time: 39 minutes</p>
</div>
<div class='inlineMe'>
	<map-gen class='mapbtns' click='"Second Intermediate Route"' difficulty='"int"' map=1 ></map-gen>
	<p>Distance: 7.4 miles</p>
	<p>Est. Time: 46 minutes</p>
</div>
<div class='inlineMe'>	
	<map-gen class='mapbtns' click='"Third Intermediate Route"' difficulty='"int"' map=2 ></map-gen>
	<p>Distance: 15.6 miles</p>
	<p>Est. Time: 98 minutes</p>
</div>
