darkblue = #05668D
midblue = #028090
aqua = #00A896
lightaqua = #02C39A
beige = #F0F3BD

@font-face
	font-family roboto
	src url('../fonts/Roboto-Regular.ttf')
@font-face
	font-family robotocondensed
	src url('../fonts/RobotoCondensed-Regular.ttf')	


section
	display inline-block

.italMe
	font-style italic
	position relative
	bottom 15px	
	color white
	text-shadow 0 0 1px black

.inlineMe
	display inline-block
	margin-top 10px
	margin-bottom 20px

.inlineMe p
	color black
	position relative
	left 20px
	margin-top 0
	margin-bottom 0
	font-style italic

.blockMe
	display block
	margin 20px 
	color white
	text-shadow 0 0 1px black

	
.Arial
	font-family Arial
	
.marginMe
	margin auto
	padding-left 80px
	padding-right 80px
	text-align center
	margin-top 20px
	width 60%	
	color black
.marginMe h1
	color lightaqua
.marginMe p strong
	color lightaqua			

.underline
	text-decoration underline
	position relative
	bottom 5px
	
.levelDiff
	display inline-block



.greenBack
	background-color green
	
.yellowBack
	background-color yellow
	
.redBack
	background-color red
	
#routediff div
	border-radius 15px
	padding 10px
	border 4px outset black
	margin 0 50px
	
	
	
#routediff div:hover
	border 4px inset White

#routeHere, #easymaps, #intmaps, #advmaps
	height 500px
	width 60%
	background-color darkblue
	margin-left 50px
	display inline-block
	margin-top 30px
	margin-bottom 30px
	float left
	margin-right 50px
	



#directions, #directionEasy, #directionInt, #directionAdv
	height 500px
	width 30%
	overflow scroll
	background-color transparent
	display inline-block
	float left
	margin-top 30px
	margin-bottom 30px
	text-align center

#directions p
	z-index -1
		
#rentalMap
	position relative
	width 70%
	height 70%

/* NAVIGATION */	

#banner
	background-color darkblue
	text-align center
	margin 0 auto
	padding 0
	font-family robotocondensed, sans-serif
	width 100%
	z-index 100

#banner img
	margin-bottom .75em	
	padding-top .75em
	display block
	height auto	

#banner a 
	text-decoration none
	margin 0em 2em
	color white
	text-transform uppercase
	font-weight bold
	font-size 20px
#banner a:hover
	color lightaqua	

	
#banner ul li
	display inline
#banner ul
	list-style-type none
	margin-bottom 0	
	
body
	margin 0
	padding 0	
	font-family roboto, sans-serif

.forty
	margin-bottom 40px	

#maindesc
	background rgba(255,255,255,0.8)
	width 60%
	top 50px
	position relative
	margin-bottom 40px

#maindesc p
	text-align center
	text-shadow 0 0 5px white	
	font-size 32px

.directive
	background-color aqua
	color white
	text-align center
	font-family roboto, sans-serif
	padding-top 20px
	padding-bottom 20px
	width 100%
	box-shadow 1px 1px 3px #000


#weatherview h1
	font-size 42px	

#sun
	padding-top 20px	

#routediff
	text-align center
	background-color midblue
	padding-top 60px
	padding-bottom 20px	
	color white
	text-shadow 0 0 1px black

#routediff h1
	padding 20px 0px
	font-family robotocondensed, sans-serif
	margin-bottom .75em
	font-size 40px
		

#rentbike
	background-color lightaqua
	padding-top: 20px
	padding-bottom: 20px
	text-align center	
	height 45vh
	
#rentbike h1
	padding 20px 0px
	font-family robotocondensed, sans-serif
	margin-bottom .75em
	color white
	text-shadow 0 0 1px black
	font-size 60px

#rentbike h3
	margin-bottom .75em
	color white
	text-shadow 0 0 1px black
	
#rentbike button
	background-color orange
	border none
	color white
	font-size 20px
	padding 15px 32px
	border-radius 5px
	font-weight bold
	font-family roboto		

.gettingstartedbtn
	width 100px
	margin 0 auto
	text-align center

.gettingStartedDiv
	background url('../images/bikebackground.jpg') no-repeat
	width 100%
	height 100%
	background-size cover


.gettingStartedDiv h1
	text-shadow 1px 1px 2px #000000
	text-align center	
	color: white
	font-size 100px	
	margin-bottom .25em
	font-family robotocondensed, sans-serif

.gettingStartedDiv a
	display block
	margin 0 auto
	background-color orange
	color white
	font-size 16px
	padding 15px 32px
	border-radius 5px
	font-weight bold
	font-family roboto, sans-serif
	width: 80px
	text-decoration none
	text-align center

.gettingStartedDiv a:active
	background-color aqua	

/*FOOTER */
footer
	background-color darkblue
	margin-bottom 0
	height 40px
	color white
	position fixed
	bottom 0
	z-index 100
	width 100%
footer p a
	color white
	text-decoration none

footer p a:hover
	color lightaqua		

/* Pop out window CSS */

#rentalModal
	display none
	position fixed
	z-index 1
	left 0
	top 0
	width 100%
	height 100%
	overflow auto
	background-color white
	background-color rgba(0,0,0,0.4)
	
#contentModal
	background-color #fefefe
	margin 15% auto
	padding 20px
	border 1px solid #888
	width 80%
	
#contentModal ul li
	list-style-type none
	text-align center	
	
.mapbtns button
	background-color orange
	color white	
	font-size 20px
	padding 15px 32px
	border-radius 5px
	margin 0 0px .75em 20px

.mapbtns
	margin 0 auto
	text-align center
	

#toggleOff
	color #aaa
	float right
	font-size 28px
	font-weight bold
	
#toggleOff:hover, $toggleOff:focus
	color black
	text-decoration none
	cursor pointer
#routediff h1
	padding 20px 0px
	font-family robotocondensed, sans-serif
	margin-bottom .75em
	font-size 40px	

@media (max-width: 1024px)
	#banner ul li
		width 100%
		inline-block
		margin 0 auto
	#directions, #directionEasy, #directionInt, #directionAdv
		float bottom
		width 100%
	.inlineMe
		width 100%
		display-block
		margin-bottom 20px
	#routeHere, #easymaps, #intmaps, #advmaps
		width 100%
		
@media (max-width: 830px )
	#banner ul li
		width 100%
		inline-block
		margin 0 auto
	#directions, #directionEasy, #directionInt, #directionAdv
		display block
		width 100%
	.inlineMe
		width 100%
		display-block
	#routeHere, #easymaps, #intmaps, #advmaps
		width 100%
		display block

@media (max-width: 480px)
	body
		background-color aqua
	#banner a
		font-size 14px
		margin 0px .5em	
	.gettingStartedDiv
		background-image none
	#maindesc	
		width 100%
		background transparent	
	#banner ul li
		width 100%
		inline-block
		margin 0 auto
	#directions, #directionEasy, #directionInt, #directionAdv
		display block
		width 100%
	.inlineMe
		width 100%
		display-block
		#routeHere, #easymaps, #intmaps, #advmaps
			width 100%
@media print	
	#directions, #directionEasy, #directionInt, #directionAdv
		height 500px
		width 100%
		overflow visible
		background-color white
		display block
		float none
		margin-top 30px
		margin-bottom 30px
		text-align center
	.marginMe p
		display none	

		
		
		
	
	
	



	
