darkblue = #05668D
midblue = #028090
aqua = #00A896
lightaqua = #02C39A
beige = #F0F3BD

#map
	height 300px
	width 300px
	background-color darkblue

#banner
	background-color darkblue
	text-align center
	height 150px
	margin 0
	padding 0
	
body
	margin 0
	padding 0	
	font-family Arial

.directive
	background-color aqua
	text-align center
	color white
	font-family Arial
	padding-top: 20px
	padding-bottom: 20px

#weatherview h1
	font-size 42px	

#sun
	padding-top 20px	

#routediff
	text-align center
	background-color midblue
	padding-top 20px
	padding-bottom 20px

#routediff h1
	padding 20px 0px	

#rentbike
	background-color lightaqua
	padding-top: 20px
	padding-bottom: 20px
	text-align center	
#rentbike h1
	padding 20px 0px	
	
#navBar
	position relative
	bottom -65px
	
#navBar a 
	text-decoration none
	margin 0 30px
	color Red
	font-weight bold
	font-size 20px
	
#gettingStartedDiv
	text-align center


