#map {
  height: 500px;
  width: 750px;
  background-color: #05668d;
  margin: 0 auto;
}
#banner {
  background-color: #05668d;
  text-align: center;
  height: 150px;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial;
}
.directive {
  background-color: #00a896;
  text-align: center;
  color: #fff;
  font-family: Arial;
  padding-top: 20px;
  padding-bottom: 20px;
}
#weatherview h1 {
  font-size: 42px;
}
#sun {
  padding-top: 20px;
}
#routediff {
  text-align: center;
  background-color: #028090;
  padding-top: 20px;
  padding-bottom: 20px;
}
#routediff h1 {
  padding: 20px 0px;
}
#rentbike {
  background-color: #02c39a;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
#rentbike h1 {
  padding: 20px 0px;
}
#navBar {
  position: relative;
  bottom: -65px;
}
#navBar a {
  text-decoration: none;
  margin: 0 30px;
  color: Red;
  font-weight: bold;
  font-size: 20px;
}
#gettingStartedDiv {
  text-align: center;
}
